@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@media screen and (min-device-width: 700px) and (max-device-width: 1600px) { 

	.centered {
	font-family: 'Pangolin', 'Times New Roman', Times, serif;
	margin-top: 12rem;
	text-align: center;
	font-size: 12px;
	color: white;
	
}

}

.title{
	color: white;
}
.centered {
	font-family: 'Pangolin', 'Times New Roman', Times, serif;
	margin-top: 12rem;
	text-align: center;
	font-size: 70px;
	color: black;
}
p{
	margin-top: 10rem;
	text-align: justify;
    max-width: 50%;
	margin: 0px auto 0px auto;
	font-size: large;
}
.wstep{
	position: relative;
	top: 5rem;
}
