@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html::before {
    content: ' ';
    display: block;
    background-image: url("https://matematykawzaglach.github.io/img/tlo2.png");
    background-position: bottom left; 
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10; 
}
@media only screen and (max-width: 600px){
	article{
		position: relative;
		margin-left: auto;
		width: 500px;
	}
	ul {
		width: 600px;
		
		text-align: left;
	}
	li{
		width: 60%;
		text-align: left;
	}
}
body{
	margin: 0px;
	background-image: url("https://matematykawzaglach.github.io/img/tlo2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
	
	font-family: 'Roboto', 'Times New Roman', Times, serif;
}
.menu {
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.button {
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	color: black;
	background-color: inherit;
}

.flex_header {
	display: flex;
	padding: 0px;
	flex-direction: row;
	justify-content: center;
	
}
.logo img{
	float: left;
	height:75px;
	margin-top: 5px;
}
p{
	color:black;
	
}
h1{
	color:black;
}
b{
	color: black;
}
li{
	color: black;
}